
    .item1 {
      color: whitesmoke;
      grid-area: header;
      background-color: #242424;
      font-size: 50px;
      height: 550px;
      padding-left: 60px;
      background-image: url(./img/dog1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .samir {
      font-size: 30px;
      color: white;
    }

    /* inside item2 start*/
    .item2 {

      height: 50px;
      display: grid;
      text-align: center;
      grid-area: top;
      grid-gap: 10px;
      grid-template-areas: 'top1 top2 top3 top4';
      grid-gap:5px;
      
    }
    
    div> button, a>button{
        height: 100%;
        width: 100%;
        background-color: #242424;
        color: white;
        font-size: 20px;
    }

    .top1 {
      grid-area: top1;
    }

    .top2 {
      grid-area: top2;
    }

    .top3 {
      grid-area: top3;
    }

    .top4 {
      grid-area: top4;
    }

    .item3 {
      text-align: center;
      grid-area: menu;
      background-color: #242424;
      width: 300px;
    }

    /* item4 */
    .item4 {
      color: white;
      text-align: center;
      grid-area: main;
      background-color: #333333;

    }

    .column {
      float: left;
      width: 300px;
      margin-bottom: 16px;
      padding: 0 8px;
      height: 300px;
      width: 300px;
      display: block;
    }

    .card {
        height: 100%;
      background-color: #786f5f;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
      padding: 0 16px;
      height: 50px;
    }

    .button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: rgb(0, 0, 0);
      text-align: center;
      cursor: pointer;
      width: 100%;
    }

    /* item4 ends */
    .item5 {
      text-align: center;
      grid-area: footer;
      background-color: #242424;
      color: white;
      font-size: 40px;
    }

    .cont {
      height: 500px;
      display: grid;
      grid-gap: 5px;
      grid-template-areas:
        'header header header header'
        'header header header header'
        'top top top top '
        'menu main main main'
        'menu main main main'
        'menu main main main'
        'menu main main main'
        'menu footer footer footer';
    }

    img {
      height: 170px;
      width: 150px;
    }

    .button1 {
      height: 100%;
      width: 100%;
      background-color: #474645;
      font-size: 25px;
    }

    .name {
      padding-bottom: 500px;
      font-size: 20px;
    }

    body {
      color: whitesmoke;
    }
